

<div class="twelve columns offset-by-six content">
			<h1 class="remove-bottom hi" style="margin-top: 100px">Hi (again),</h1>
			<p class="about">My name is Hussam Elamin, though since childhood my friends have called me Sam. <br><br>I grew up in the UAE went to college in Malaysia and graduated from Leeds University with a Masters degree in Electrical and Electronics Engineering.<br><br>This site is a continuous work in progress, and with that, this page will be always expanding.</p>

	<div class="twelve columns">
						<hr class="lighter"/>
				<div class="recent-posts">A bit more...</div>
			<div class="row">
			<h4 class="hi" >I have a number of interests but...</h4>
         <p class="about">My main interest revolves mostly around technology and software . 
		 This mainly revolves around TDD, Continuous Delivery and the <a href="http://manifesto.softwarecraftsmanship.org/#/en"> Software craftsmanship movement</a>. I am an avid attender of conferences and I am always eager to learn new things.
             
             <h4 class="hi" >In my free time...</h4>
         <p class="about">I enjoy trying out new technologies. Here are just a few that I am interested in at the moment <br><br>    <div id="listoffav">
            <ul class="ula">
                <li>Event Sourcing and <a href="http://geteventstore.com/">Event Store.</a> </li>
                <li>Node.Js </li>
                <li>Automated Provisioning using puppet or chef.</li>
            </ul>
                </div>
			</div>
			</div>
</div>